input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .3);
}

input:-moz-placeholder {
    color: rgba(0, 0, 0, .3);
}

input::-moz-placeholder {
    color: rgba(0, 0, 0, .3);
}

input:-ms-input-placeholder {
    color: rgba(0, 0, 0, .3);
}

input {
    padding-left: 5px;
    padding-top: 0;
}

.material-icons {
    opacity: .3;
}