<h4>
	Listas de Tarefas
</h4>

<hr>

<app-new-list></app-new-list>

<div *ngFor="let l of list; let idx = index">
	<a
		class="text-dark btn pointer bg-white text-left p-4 shadow-sm d-flex mt-2 border"
		data-toggle="collapse"
		href="#collapse{{ idx }}"
		role="button"
		aria-expanded="true"
	>
		<i class="material-icons md-dark text-primary">list</i>
		{{ l.name }}
	</a>

	<div class="collapse show shadow-sm" id="collapse{{ idx }}">
		<ul class="list-group">
			<app-tasks *ngFor="let t of l.tasks" [task]="t"></app-tasks>
			<app-new-task [id_list]="l.id"></app-new-task>
		</ul>
	</div>
</div>