
<li
    class="
        list-group-item
        list-group-item-action
        d-flex
        align-items-center
        justify-content-between
        p-1
        p-sm-2
        p-md-3
    "
>
    <div>
        <button
            type="button"
            class="btn border-0"
            [class.text-success]="task.active"
            (click)="toggleCheck()"
        >
            <i class="material-icons">
                {{ completed_icon }}
            </i>
        </button>

        {{ task.name }}

    </div>

    <app-task-buttons [id]="task.id"></app-task-buttons>

</li>
