<li
    class="
        list-group-item
        list-group-item-action
        d-flex
        align-items-center
        justify-content-between
        p-1
        p-sm-2
        p-md-3
    "
>
    <div>
        <button
            type="button"
            class="btn border-0"
            (click)="toggleCheck()"
        >
            <i class="material-icons text-success" *ngIf="task.status.name == 'Fechado'">check_box</i>
            <i class="material-icons" *ngIf="task.status.name == 'Aberto'">check_box_outline_blank</i>
        </button>

        {{ task.name }}

    </div>

    <app-task-buttons [task]="task"></app-task-buttons>

</li>
