<div class="d-flex align-items-center flex-wrap">

    <div class="flex-grow-1 pr-2 flex-wrap">
        <input
            type="text"
            class="form-control"
            [(ngModel)]="listName"
            *ngIf="showField"
            placeholder="Digite aqui o nome da lista..."
        />
    </div>

    <div class="text-center m-auto">
        <button
            class="btn btn-primary d-flex align-items-center"
            title="Criar Lista"
            (click)="openField()"
            *ngIf="!showField"
        >
            <i class="material-icons md-dark text-light add-circle mr-1">add_circle</i>
            Criar Lista
        </button>
        <button
            class="btn"
            title="Cancelar cadastro"
            (click)="closeField()"
            *ngIf="showField"
        >
            Cancelar
        </button>
        <button
            class="btn btn-primary"
            title="Criar Lista"
            (click)="save()"
            [disabled]="!listName.length || loadingBtn"
            *ngIf="showField"
        >
            <div *ngIf="loadingBtn" class="spinner-border" role="status"></div>
            <span *ngIf="!loadingBtn">
                Salvar
            </span>
        </button>
    </div>

</div>
