<div class="btn-group float-right dropleft">
	<button
		type="button"
		class="btn dropdown-toggle"
		data-toggle="dropdown"
		[attr.data-target]="'dropdown' + task.id"
	>
		Opções
    </button>
    <div class="dropdown-menu" [attr.data-target]="'dropdown' + task.id">
		<a
			class="dropdown-item d-flex align-items-center text-primary"
			(click)="startEdit()"
		>
			<i class="material-icons md-dark">edit</i>
			Editar
		</a>

		<a
			class="dropdown-item d-flex align-items-center text-danger"
			(click)="remove()"
		>
			<i class="material-icons md-dark ">delete_forever</i>
			Excluir
		</a>
    </div>
</div>
