/* You can add global styles to this file, and also import other style files */

html, body {
    /* Smallest resolution supported */
    min-width: 300px;
}

.btn:focus,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.list-group-item-action:active {
    background-color: inherit !important;
}